@using BlazorTipz.Components
@using BlazorTipz.Data
@using BlazorTipz.ViewModels
@using BlazorTipz.ViewModels.User
@using BlazorTipz.ViewModels.Suggestion
@using BlazorTipz.ViewModels.Team
@using Microsoft.AspNetCore.Mvc

@inject ILocalStorageService _localStorage
@inject NavigationManager NavigationManager
@inject IUserManager _userManager
@inject ITeamManager _teamManager
@inject ISuggestionManager _suggestionManager
@inject IJSRuntime JsRuntime
@inject DialogService DialogService

<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="css/Navbar.css" />

<AuthorizeView Roles="User">
    <Authorized>
        <h1 style="opacity:0; text-decoration: none;">:)</h1>
        <!--=============== NAV ===============-->
        <div class="nav">
            <nav class="nav__content">

                <div class="nav__list">
                    <a href="/" class="nav__link active-link">
                        <i class='bx bx-grid-alt'></i>
                    </a>
                    <div>
                        <a href="javascript:void(0);" class="nav__add active-link" @onclick="@(() => ShowSuggestion())">
                            <i class='bx bx-plus-circle'></i>
                        </a>
                    </div>
                    <a href="/" class="nav__link active-link">
                        <i class='bx bx-bar-chart-alt-2'></i>
                    </a>

                </div>
            </nav>
        </div>

        <div class="nav" id="nav">
            <nav class="nav__content">
                <div class="nav__umenu">
                    <a href="javascript:void(0);" class="nav__link" @onclick="@ShowUserP">
                        <i class='bx bx-user'></i>
                    </a>
                </div>
                <div class="nav__user" id="user" style="display: @ShowUser">
                    <a>@currentUser.name</a>
                    <br />
                    <a href="/userSettings" class="nav__link">
                        <i class='bx bx-cog'></i>
                        <span class="nav__name">Settings</span>
                    </a>
                    <a href="/" @onclick="Logout" class="nav__link">
                        <i class='bx bx-log-out'></i>
                        <span class="nav__name">Logout</span>
                    </a>
                </div>

                <div class="nav__tmenu">
                    <a href="javascript:void(0);" class="nav__link" @onclick="@ShowTeamP">
                        <i class='bx bx-dock-top'></i>
                    </a>
                </div>
                <div class="nav__panel" style="display: @ShowTeam">

                    <a>View Team</a>
                    <a href="/teamView" class="nav__link">
                        <i class='bx bx-food-menu'></i>
                        <span class="nav__name">View Team</span>
                    </a>
                </div>
            </nav>
        </div>

                
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <Authorized>
        <h1 style="opacity:0; text-decoration: none;">:)</h1>
        <!--=============== NAV ===============-->
        <div class="nav">
            <nav class="nav__content">

                <div class="nav__list">
                    <a href="/" class="nav__link active-link">
                        <i class='bx bx-grid-alt'></i>
                    </a>
                    <div>
                        <a href="javascript:void(0);" class="nav__add active-link" @onclick="@(() => ShowSuggestion())">
                            <i class='bx bx-plus-circle'></i>
                        </a>
                    </div>
                    <a href="/" class="nav__link active-link">
                        <i class='bx bx-bar-chart-alt-2'></i>
                    </a>
                   
                </div>
            </nav>
        </div>

        <div class="nav" id="nav">
            <nav class="nav__content">
                <div class="nav__umenu">
                    <a href="javascript:void(0);" class="nav__link" @onclick="@ShowUserP">
                        <i class='bx bx-user'></i>
                    </a>
                </div>
                <div class="nav__user" id="user" style="display: @ShowUser">
                    <a>@currentUser.name</a>
                    <br />
                    <a href="/userSettings" class="nav__link">
                        <i class='bx bx-cog'></i>
                        <span class="nav__name">Innstillinger</span>
                    </a>
                    <a href="/" @onclick="Logout" class="nav__link">
                        <i class='bx bx-log-out'></i>
                        <span class="nav__name">Logg ut</span>
                    </a>
                </div>

                <div class="nav__tmenu">
                    <a href="javascript:void(0);" class="nav__link" @onclick="@ShowTeamP">
                        <i class='bx bx-dock-top'></i>
                    </a>
                </div>
                <div class="nav__panel" style="display: @ShowTeam">
                    
                    <a>Admin Panel</a>
                    <a href="/register" class="nav__link">
                        <i class='bx bx-user-plus'></i>
                        <span class="nav__name">Registrer Bruker</span>
                    </a>

                    <a href="/manageTeam" class="nav__link">
                        <i class='bx bx-group'></i>
                        <span class="nav__name">Registrer Team</span>
                    </a>

                    <a href="/teamView" class="nav__link">
                        <i class='bx bx-food-menu'></i>
                        <span class="nav__name">Se Team</span>
                    </a>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="TeamLeader">
    <Authorized>
        <h1 style="opacity:0;">:)</h1>
        <!--=============== NAV ===============-->
        <div class="nav">
            <nav class="nav__content">
                <div class="nav__list">
                    <a href="/" class="nav__link active-link">
                        <i class='bx bx-grid-alt'></i>
                    </a>
                    <div>
                        <a href="javascript:void(0);" class="nav__add active-link" @onclick="@(() => ShowSuggestion())">
                            <i class='bx bx-plus-circle'></i>
                        </a>
                    </div>
                    <a href="/" class="nav__link active-link">
                        <i class='bx bx-bar-chart-alt-2'></i>
                    </a>

                </div>
            </nav>
        </div>

        <div class="nav" id="nav">
            <nav class="nav__content">
                <div class="nav__umenu">
                    <a href="javascript:void(0);" class="nav__link" @onclick="@ShowUserP">
                        <i class='bx bx-user'></i>
                    </a>
                </div>
                <div class="nav__user" id="user" style="display: @ShowUser">
                    <a>@currentUser.name</a>
                    <br />
                    <a href="/userSettings" class="nav__link">
                        <i class='bx bx-cog'></i>
                        <span class="nav__name">Innstillinger</span>
                    </a>
                    <a href="/" @onclick="Logout" class="nav__link">
                        <i class='bx bx-log-out'></i>
                        <span class="nav__name">Logg ut</span>
                    </a>
                </div>

                <div class="nav__tmenu">
                    <a href="javascript:void(0);" class="nav__link" @onclick="@ShowTeamP">
                        <i class='bx bx-dock-top'></i>
                    </a>
                </div>
                <div class="nav__panel" style="display: @ShowTeam">

                    <a>Team Panel</a>

                    <a href="/manageTeam" class="nav__link">
                        <i class='bx bx-group'></i>
                        <span class="nav__name">Registrer Team</span>
                    </a>

                    <a href="/teamView" class="nav__link">
                        <i class='bx bx-food-menu'></i>
                        <span class="nav__name">Se Team</span>
                    </a>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>

@code{
    async Task ShowSuggestion()
    {
        await DialogService.OpenAsync($"Enter a suggestion", ds =>
    @<div>
                <div class="justify-content-center" style="padding-top: 1rem;">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <!--Wants type SuggViewmodel, field object is suggDto-->
                            <RadzenTemplateForm TItem="SuggViewmodel" Data=@suggDto Submit=submit>
                                <!--Title on suggestion-->
                                <div class="row mb-2">
                                    <div class="col-md-4" style="align-self: center;">
                                        <RadzenLabel Text="Tittel" />
                                    </div>
                                    <div class="col">
                                        <!--Binder til userDto.emplymentId-->
                                        <RadzenTextBox  @bind-Value=@suggDto.Title Name="title" Class="w-100" />
                                    </div>
                                </div>
                                <!--Just do it checkbox-->
                                <div class="row mb-2">
                                    <div class="col-md-4" style="align-self: center;">
                                        <RadzenLabel Text="Just Do It" />
                                    </div>
                                    <div class="col">
                                        <RadzenCheckBox @bind-Value=@suggDto.JustDoIt Name="CheckBox1" TValue="bool" Change=@(args => OnChange(args, "CheckBox1 CheckBox")) />
                                        <RadzenLabel Text="Just Do It" Component="CheckBox1" Style="margin-left: 8px; vertical-align: middle;" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4" style="align-self: center;">
                                        <RadzenLabel Text="Ansvarlig" />
                                    </div>
                                    <div class="col">
                                        <RadzenDropDownDataGrid @bind-Value=@suggDto.Ansvarlig FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
                                                            AllowFiltering="true" AllowClear="true" Data=@Users TextProperty="name" Placeholder="Ansvarlig" ValueProperty="employmentId" Class="w-100">
                                            <Columns>
                                                <RadzenDropDownDataGridColumn Property="name" Title="Navn" />
                                                <RadzenDropDownDataGridColumn Property="TeamName" Title="Team Name" />
                                            </Columns>

                                        </RadzenDropDownDataGrid>
                                    </div>
                                </div>
                                <!--Team dropdown-->
                                <div class="row mb-2">
                                    <div class="col-md-4" style="align-self: center;">
                                        <RadzenLabel Text="Team Name" />
                                    </div>
                                    <div class="col">
                                        <RadzenDropDownDataGrid @bind-Value=@suggDto.OwnerTeam FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
                                                            AllowFiltering="true" AllowClear="true" Data=@teams TextProperty="name" Placeholder="Team" ValueProperty="id" Class="w-100">
                                            <Columns>
                                                <RadzenDropDownDataGridColumn Property="id" Title="Team ID"  />
                                                <RadzenDropDownDataGridColumn Property="name" Title="Team Name" />
                                            </Columns>

                                        </RadzenDropDownDataGrid>
                                    </div>

                                </div>
                                <!--Category-->
                                <div class="row mb-2">
                                    <div class="col-md-4" style="align-self: center;">
                                        <RadzenLabel Text="Kategori" />
                                    </div>
                                    <div class="col">
                                        <RadzenDropDownDataGrid @bind-Value=@suggDto.Category FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
                                                            AllowFiltering="true" AllowClear="true" Data=@Categories TextProperty="Name" Placeholder="Kategori" Class="w-100">
                                            <Columns>
                                                <RadzenDropDownDataGridColumn Property="Name" Title="Kategori" />
                                            </Columns>
                                        </RadzenDropDownDataGrid>
                                    </div>
                                </div>
                                <!--Description-->
                                <div class="row mb-2">
                                    <div class="col-md-4" style="align-self: center;">
                                        <RadzenLabel Text="Description" />
                                    </div>
                                    <div class="col">
                                        <RadzenTextArea Style="min-height:10rem" @bind-Value=@suggDto.Description Change=@(args => OnChange(args, "TextArea")) Class="w-100" />
                                    </div>
                                </div>
                                <div class="center">
                                    <p>@Feedback</p>
                                </div>
                                <!--Button-->
                                <div class="center">
                                    <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
                                </div>
                            </RadzenTemplateForm>
                        </div>
                    </div>
                </div>    
        </div>
    , new DialogOptions() { CloseDialogOnOverlayClick = true });
    }
          
}
