<!--Namespace-->
@page "/"

<!--Accesses classes defined here-->
@using BlazorTipz.ViewModels.User
@using BlazorTipz.ViewModels.Suggestion
@using Radzen

<!--Injects from program-->
@inject ILocalStorageService _localStorage
@inject NavigationManager NavigationManager
@inject IUserManager _userManager
@inject ISuggestionManager _suggestionManager
@inject DialogService DialogService


<PageTitle>Home</PageTitle>
<!--Authorized view, not visable for someone not logged in-->
<AuthorizeView>
    <Authorized>
        <h1 style="opacity:0;">:)</h1>
        <h1 class="center">Dashboard</h1>
        <p class="d-flex justify-content-center">Welcome to Tipz!</p>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <RadzenCard Class="suggColor">
                        <RadzenDataList WrapItems="true" AllowPaging="true" Data="@UserSug" TItem="SuggViewmodel" PageSize="4"
                                        PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                    <Template Context="suggestions">
                                <RadzenCard  Style="width: 100%; padding: 0; overflow: hidden;">
                                    <div class="container">
                                        <div class="row" style="margin-left: calc(var(--bs-gutter-x) * -1); margin-right: calc(var(--bs-gutter-x) * -1)">
                                            <div class="col-lg-3 p-3 product-title">
                                                <h3>@(suggestions.Title)</h3>
                                    </div>
                                            <div class="col-lg-7 p-3">
                                        <div class="row d-flex">
                                                    <div class="col-md-6 col-lg-2">
                                                <p>@(suggestions.OwnerTeam)</p>
                                            </div>
                                        </div>
                                    </div>
                                            <div class="col-lg-2 p-3">
                                                <button  @onclick="@(() => ShowCloseableFromOverlayDialog(suggestions.Title, suggestions.Creator, suggestions.Description))">
                                                    Show more
                                                </button>
                                            </div>
                                </div>
                            </div>
                        </RadzenCard>
                    </Template>
                </RadzenDataList>
                    </RadzenCard>
        </div>
    </div>
</div>
        <h1 style="opacity:0;">:)</h1>
        <h1 style="opacity:0;">:)</h1>
        <h1 style="opacity:0;">:)</h1>
    </Authorized>
    <NotAuthorized>
        <h1 class="center">Redirecting..</h1>
    </NotAuthorized>
</AuthorizeView>

<style>
   
</style>

@code{
    async Task ShowCloseableFromOverlayDialog(string title, string creator, string description)
    {
        await DialogService.OpenAsync($"{title} by {creator}", ds =>
    @<div>

        <p>@description</p>
    </div>, new DialogOptions() { CloseDialogOnOverlayClick = true });
    }
}