<!--Namespace-->
@page "/"

<!--Accesses classes defined here-->
@using BlazorTipz.ViewModels.User
@using BlazorTipz.ViewModels.Suggestion
@using Radzen

<!--Injects from program-->
@inject ILocalStorageService _localStorage
@inject NavigationManager NavigationManager
@inject IUserManager _userManager
@inject ISuggestionManager _suggestionManager

<link rel="stylesheet" href="css/Navbar.css" />

<PageTitle>Home</PageTitle>
<!--Authorized view, not visable for someone not logged in-->
<AuthorizeView>
    <Authorized>
        <h1 class="center">Dashboard</h1>
        <p class="d-flex justify-content-center">Velkommen til Tipz!</p>

        <div class="closable-sugg-wrapper fullpage-wrapper @SuggCardHiddenState">
            <div class="closable-sugg-background-button fullpage-wrapper @SuggCardHiddenState" @onclick="@(() => CloseSuggWindow())">
				
            </div>
            <div class="closable-sugg @SuggCardHiddenState">
				<RadzenButton Text="X" Class="float-right" Click="@(() => CloseSuggWindow())" />
                <div class="sugg-topcard">
				    <div class="suggestion mb-2">
                        <h3>
                            @CurrentSugg.Title
                            <RadzenBadge BadgeStyle="BadgeStyle.Warning" Shade="Shade.Lighter" IsPill="@true" Text="@CurrentSugg.Status.ToString()" Class="ml-2" />
                        </h3>
                        <div class="sugg-details mb-3 row">
                            <div class="col-9">
                                <span>Sist endret: @DateTime.Parse(CurrentSugg.UpdatedDate).ToString("dd/MM/yyyy HH:mm")</span><br />
                                <span>Frist: @CurrentSugg.Frist.ToShortDateString()</span><br />
								<span>Tilordnet: @CurrentSugg.AnsvarligName</span><br />
                                <span>Progresjonsnivå: @CurrentSugg.Progression</span>
                            </div>
                            <div class="progress-display col-3">
								<div class="progress-wheel">
									*Sirkel*
                                </div>
                            </div>
                        </div>
                        <p>@CurrentSugg.Description</p>
	                </div>
                </div>
				    
                <div class="comment-container">
					<div class="comment_editor mb-2">
		                <div class="mb-2">
                            <RadzenTextArea @bind-Value="@CommentDto.Comment" MaxLength="1000" Placeholder="Skriv kommentar" Class="w-100 d-block" />
			            </div>
                        <div class="">
						    <RadzenButton Text="Send" Class="d-inline-block" Click=@(() => SaveComment(CurrentSugg.Id, CommentDto)) />
                        </div>
		            </div>
                    
                    @foreach (CommentViewmodel c in Comments)
                    {
                        <div class="comment-card">
                            <div class="comment_details">
                                <span class="comment_author">@c.EmpName</span>
								<span class="comment_date">
                                    @if (c.TimeStamp.Date == DateTime.Now.Date)
                                    {
                                        <span>I dag kl </span>
                                        @c.TimeStamp.ToShortTimeString()
                                    }
                                    else
                                    {
                                        @c.TimeStamp.ToShortDateString()
                                    }
                                </span>
                            </div>
							<div class="comment-text">
                                @c.Comment
                            </div>
                        </div>
                    }
                </div>
            </div>
            
        </div>
		
        <div class="@Mainpage container-fluid">
            <div class="row">
                <div class="col">
                    <RadzenCard Class="suggColor">
                        @if (isLoaded == true)
                        {
                            <h1 class="d-flex justify-content-center">Forslag du er tilordnet</h1>
                            <p class="d-flex justify-content-center">Sortert fra gammel til ny</p>
                            <RadzenDataList WrapItems="true" AllowPaging="true" Data="@Assignedsugg" TItem="SuggViewmodel" PageSize="3"
                                        PagerHorizontalAlign="HorizontalAlign.Center" PagerPosition="PagerPosition.Top">
                                <Template Context="suggestions">
                                    <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
                                        <div class="nav__add" @onclick="@(() => ShowSuggWindow(suggestions))">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg p-3 product-title">
                                                        <h2>
                                                            @(suggestions.Title)
                                                            <RadzenBadge BadgeStyle="BadgeStyle.Warning" Shade="Shade.Lighter" IsPill="@true" Text="@suggestions.Status.ToString()" Class="ml-2" />
                                                        </h2>
														<p>Last Edited; @(suggestions.UpdatedDate)</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </RadzenCard>
                                </Template>
                            </RadzenDataList>
                        }
                        else
                        {
                            <div class="center">
                                <div class="spinner"></div>
                            </div>
                        }
                    </RadzenCard>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <RadzenCard Class="suggColor">
                        @if (isLoaded == true)
                        {
                            <h1 class="d-flex justify-content-center">Dine forslag</h1>
                            <p class="d-flex justify-content-center">Sortert fra gammel til ny</p>
                            <RadzenDataList WrapItems="true" AllowPaging="true" Data="@UserSug" TItem="SuggViewmodel" PageSize="3"
                                        PagerHorizontalAlign="HorizontalAlign.Center" PagerPosition="PagerPosition.Top">
                                <Template Context="suggestions">
                                    <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
                                        <div class="nav__add" @onclick="@(() => ShowSuggWindow(suggestions))">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg p-3 product-title">
                                                        <h2>@(suggestions.Title)
                                                            <RadzenBadge BadgeStyle="BadgeStyle.Warning" Shade="Shade.Lighter" IsPill="@true" Text="@suggestions.Status.ToString()" Class="ml-2" />
                                                        </h2>
                                                        <p>Added: @(suggestions.StartDate)</p>
                                                        <p>Last Edited; @(suggestions.UpdatedDate)</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </RadzenCard>
                                </Template>
                            </RadzenDataList>
                        }
                        else
                        {
                            <div class="center">
                                <div class="spinner"></div>
                            </div>
                        }
                    </RadzenCard>
                </div>
            </div>
        </div>
        <div class="bigboi"></div>
    </Authorized>
    <NotAuthorized>
        <h1 class="center">Redirecting..</h1>
    </NotAuthorized>
</AuthorizeView>
