<!--Namespace-->
@page "/register"

<!--Accesses classes defined here-->
@using BlazorTipz.Data
@using Microsoft.AspNetCore.Mvc
@using Radzen
@using BlazorTipz.ViewModels.User

<!--Injects from program-->
@inject NavigationManager _navigationManager
@inject IUserManager _userM


<PageTitle>Register</PageTitle>

<!--Kun Admin rollen kan se-->
<AuthorizeView Roles="Admin" Context="someContext">
    <Authorized>
        <h1 class="center">Fill in the form</h1>
        <p class="d-flex justify-content-center">to register a user</p>
        <div class="justify-content-center">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <RadzenTemplateForm TItem="UserViewmodel" Data=@userDto Submit=registerUser>
                        <div class="row mb-5">
                            <div class="col-md-4" style="align-self: center;">
                                <RadzenLabel Text="ID" />
                            </div>
                            <div class="col">
                                <RadzenNumeric style="display: block" Name="id" @bind-Value=@userDto.employmentId Class="w-100" />
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-4" style="align-self: center;">
                                <RadzenLabel Text="Name" />
                            </div>
                            <div class="col">
                                <RadzenTextBox style="display: block" Name="name" @bind-Value=@userDto.name Class="w-100" />
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-4" style="align-self: center;">
                                <RadzenLabel Text="Set role" />
                            </div>
                            <div class="col">
                                <!--Tar inn en liste roles-->
                                <RadzenDropDown @bind-Value="userDto.role" Placeholder="User" Data="@roles" style="width: 100%;" TextProperty="role" ValueProperty="role" Name="Role" />
                            </div>
                        </div>
                        <div class="center">
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Add to list"></RadzenButton>
                        </div>
                    </RadzenTemplateForm>
                    <div class="center">
                        <p>Liste for over de som skal registreres</p>
                    </div>
                    <div>
                        <table class="regT">
                            <tr>
                                <th>Nr</th>
                                <th>Name</th>
                                <th>EmpID</th>
                                <th>Role</th>
                                <th>Password</th>
                            </tr>
                            @foreach (UserViewmodel us in UsersList)
                            {
                                <tr>
                                    <td>@us.listnum</td>
                                    <td>@us.name</td>
                                    <td>@us.employmentId</td>
                                    <td>@us.role.ToString()</td>
                                    <td>@us.password</td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div>
                        <div class="center">
                            <p>@Checker</p>
                        </div>
                        <div class="center">
                            <RadzenButton Click="RegisterUsers" Text="Register" ButtonStyle="ButtonStyle.Primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="opacity:0;">:)</h1>
        <h1 style="opacity:0;">:)</h1>
        <h1 style="opacity:0;">:)</h1>
    </Authorized>
    <NotAuthorized>
        <h1 class="center">You are not Authorized for this page</h1>
    </NotAuthorized>
</AuthorizeView>

<!--
<h1 class="center">User List</h1><RadzenButton Click="UpdateDB" Icon="refresh" ButtonStyle="ButtonStyle.Secondary" />
</div>
 <RadzenDataGrid AllowFiltering="true" AllowColumnResize="false"
        FilterMode="FilterMode.Simple" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@people" TItem="User" ColumnWidth="300px"
        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
        <RadzenDataGridColumn TItem="User" Property="employmentId" Filterable="false" Title="ID" Frozen="true" Width="70px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="User" Property="fName" Title="First Name" Frozen="true" Width="140px" />
        <RadzenDataGridColumn TItem="User" Property="lName" Title="Last Name" Width="140px" />
        </Columns>
    </RadzenDataGrid>
        -->
@code {
    bool popup;
    bool isLoading = false;
    public string Checker { get; set; }

    bool passwordVisible = true;
    UserViewmodel userDto = new UserViewmodel();
    //Lager en liste
    List<RoleE> roles = new List<RoleE> { RoleE.User, RoleE.Admin };
    List<UserViewmodel> UsersList;

    //checks if there is a current user
    protected override async Task OnInitializedAsync()
    {
        //checks if currentUser is null
        var CurrentUser = _userM.getCurrentUser();
        if (CurrentUser == null) { _navigationManager.NavigateTo("/"); }
        else { UsersList = _userM.getRegisterUserList(); }
    }
    public async Task<ActionResult<string?>> registerUser()
    {

        string genPass = _userM.generatePassword();
        userDto.password = genPass;

        UserViewmodel usToList = userDto;
        string ret = _userM.stageToRegisterList(usToList);
        Checker = ret ;
        userDto = new UserViewmodel();
        return ret;
    }


    //Sender resuest til registerUserSingel
    public async Task<ActionResult<string>> RegisterUsers()
    {

        (string err,string suc )= await _userM.registerMultiple(null);
        Checker = err;
        UsersList = _userM.getRegisterUserList();
        if (suc != null){ Checker = suc; return suc; }
        return err;
    }
}