<!--Namespace-->
@page "/teamView"

<!--Accesses classes defined here-->
@using Microsoft.AspNetCore.Components
@using BlazorTipz.Data
@using BlazorTipz.ViewModels
@using BlazorTipz.ViewModels.Team
@using BlazorTipz.ViewModels.User
@using BlazorTipz.ViewModels.Suggestion
@using Microsoft.AspNetCore.Mvc
@using Radzen

<!--Injects from program-->
@inject ILocalStorageService _localStorage
@inject NavigationManager NavigationManager
@inject IUserManager _userManager
@inject ITeamManager _teamManager
@inject ISuggestionManager _suggestionManager
@inject DialogService DialogService


<AuthorizeView>
    <Authorized>
        <h1 class="center">Team @currentTeam.name</h1>
        <!--Team Suggestions-->
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="false" 
        FilterMode="FilterMode.Simple" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@teamSug" TItem="SuggViewmodel" ColumnWidth="300px"
        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
                <RadzenDataGridColumn TItem="SuggViewmodel" Property="Title" Filterable="false" Title="Tittel" Width="70px" TextAlign="TextAlign.Center" />
                
                <RadzenDataGridColumn TItem="SuggViewmodel" Property="CreatorName" Title="Oppretter" Width="140px" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="SuggViewmodel" Property="StartDate" Title="Start Dato" Width="140px" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="SuggViewmodel" Property="Status" Title="Status" Width="140px" TextAlign="TextAlign.Center"/> 
                <RadzenDataGridColumn TItem="SuggViewmodel" Property="AnsvarligName" Title="Ansvarlig" Width="140px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Width="160px" TItem="SuggViewmodel" TextAlign="TextAlign.Center" Title="Mer">
                    <Template Context="data">
                        <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="info" Class="m-1"
                                      Text="Vis mer" Click=@(() => ShowCloseableFromOverlayDialog(data.Title, data.CreatorName, data.Description,data)) />
                    </Template>
                </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
     </Authorized>
</AuthorizeView>
@code{
    async Task ShowCloseableFromOverlayDialog(string title, string creator, string description,SuggViewmodel sugg)
    {
        await DialogService.OpenAsync($"{title} by {creator}", ds =>
    @<div>


                                <p> @description </p>
                        
                            <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Class="m-1"
                                      Text="Oppdater" Click=@(() => ShowSuggestion(sugg)) />
                        

    </div>
    , new DialogOptions() { CloseDialogOnOverlayClick = true });
    }
    async Task ShowSuggestion(SuggViewmodel sugg)
    {
        suggUpdate = sugg;
        await DialogService.OpenAsync($"Oppdater Forslag", ds =>
    @<div>
                    <div class="justify-content-center" style="padding-top: 1rem;">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <!--Wants type SuggViewmodel, field object is suggUpdate-->
                                <RadzenTemplateForm TItem="SuggViewmodel" Data=@suggUpdate Submit=updateSugg>
                                    <!--Title on suggestion-->
                                    @if ( suggUpdate.Status == SuggStatus.Waiting) {
                                        <div class="row mb-5">
                                            <div class="col-md-4" style="align-self: center;">
                                                <RadzenLabel Text="Tittel" />
                                            </div>
                                            <div class="col">
                                                <!--Binder til userDto.emplymentId-->
                                                <RadzenTextBox @bind-Value=@suggUpdate.Title Name="title" Class="w-100" />
                                            </div>
                                        </div>
                                        <!--Just do it checkbox-->
                                        <div class="row mb-5">
                                            <div class="col-md-4" style="align-self: center;">
                                                <RadzenLabel Text="Just Do It" />
                                            </div>
                                            <div class="col">
                                                <RadzenText> @if (@suggUpdate.JustDoIt) {<p>Ja</p>
                                                    ; } else {
                                                        <p>Nei</p>
                                                    ; }</RadzenText>
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-md-4" style="align-self: center;">
                                                <RadzenLabel Text="Frist" />
                                            </div>
                                            <div class="col">
                                                <RadzenDatePicker Min="DateTime.Today.AddDays(1)" @bind-Value=@suggUpdate.FristTid TValue="DateTime?" Class="w-100" />
                                            </div>
                                        </div>
                                        
                                }else{
                                        <div class="row mb-5">
                                            <div class="col-md-4" style="align-self: center;">
                                                <RadzenLabel Text="Tittel" />
                                            </div>
                                            <div class="col">
                                                <!--Binder til userDto.emplymentId-->
                                                <RadzenText>@suggUpdate.Title</RadzenText>
                                            </div>
                                        </div>
                                        <!--Just do it checkbox-->
                                        <div class="row mb-5">
                                            <div class="col-md-4" style="align-self: center;">
                                                <RadzenLabel Text="Just Do It" />
                                            </div>
                                            <div class="col">
                                                <RadzenText>
                                                    @if (@suggUpdate.JustDoIt)
                                                {
                                                        <p>Ja</p>
                                                    ;
                                                }
                                                else
                                                {
                                                        <p>Nei</p>
                                                    ;
                                                }
                                                </RadzenText>
                                            </div>
                                        </div>
                                }
                                    <!--Team dropdown-->
                                    <div class="row mb-5">
                                        <div class="col-md-4" style="align-self: center;">
                                            <RadzenLabel Text="Team Name" />
                                        </div>
                                        <div class="col">
                                            <RadzenDropDownDataGrid @bind-Value=@suggUpdate.OwnerTeam FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
                                                    AllowFiltering="true" AllowClear="true" Data=@teams TextProperty="name" Placeholder="Team" ValueProperty="id" Class="w-100">
                                                <Columns>
                                                    <RadzenDropDownDataGridColumn Property="id" Title="Team ID" />
                                                    <RadzenDropDownDataGridColumn Property="name" Title="Team Name" />
                                                </Columns>

                                            </RadzenDropDownDataGrid>
                                        </div>
                                    </div>
                                    <!--Ansvarlig-->
                                    <div class="row mb-5">
                                        <div class="col-md-4" style="align-self: center;">
                                            <RadzenLabel Text="Ansvarlig" />
                                        </div>
                                        <div class="col">
                                            <RadzenDropDownDataGrid @bind-Value=@suggUpdate.Ansvarlig FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
                                                    AllowFiltering="true" AllowClear="true" Data=@users TextProperty="name" Placeholder="Ansvarlig" ValueProperty="employmentId" Class="w-100">
                                                <Columns>
                                                    <RadzenDropDownDataGridColumn Property="name" Title="Navn" />
                                                    <RadzenDropDownDataGridColumn Property="TeamName" Title="Team Name" />
                                                </Columns>

                                            </RadzenDropDownDataGrid>
                                        </div>
                                    </div>
                                    <!--Status-->
                                    <div class="row mb-5">
                                        <div class="col-md-4" style="align-self: center;">
                                            <RadzenLabel Text="Status" />
                                        </div>
                                        <div class="col">
                                            <RadzenDropDownDataGrid @bind-Value=@suggUpdate.Status FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
                                                    AllowFiltering="true" AllowClear="true" Data=@statuses TextProperty="name" Placeholder="Ansvarlig" ValueProperty= Class="w-100">
                                                <Columns>
                                                    <RadzenDropDownDataGridColumn Property=@this.ToString() Title="Status Type" />
                                                </Columns>

                                            </RadzenDropDownDataGrid>
                                        </div>
                                    </div>
                                    <!--Category-->
                                    <div class="row mb-5">
                                        <div class="col-md-4" style="align-self: center;">
                                            <RadzenLabel Text="Kategori" />
                                        </div>
                                        <div class="col">
                                            <RadzenDropDownDataGrid @bind-Value=@suggUpdate.category FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowVirtualization="true"
                                                    AllowFiltering="true" AllowClear="true" Data=@Categories TextProperty="Name" Placeholder="Kategori" Class="w-100">
                                                <Columns>
                                                    <RadzenDropDownDataGridColumn Property="Name" Title="Kategori" />
                                                </Columns>
                                            </RadzenDropDownDataGrid>
                                        </div>
                                    </div>
                                    <!--Description-->
                                    <div class="row mb-5">
                                        <div class="col-md-4" style="align-self: center;">
                                            <RadzenLabel Text="Description" />
                                        </div>
                                        <div class="col">
                                            <RadzenTextArea Style="min-height:10rem" @bind-Value=@suggUpdate.Description Change=@(args => OnChange(args, "TextArea")) Class="w-100" />
                                        </div>
                                    </div>
                                    <div class="center">
                                        <p>@Feedback</p>
                                    </div>
                                    <!--Button-->
                                    <div class="center">
                                        <RadzenButton ButtonType="ButtonType.Submit" Text="Oppdater"></RadzenButton>
                                    </div>
                                </RadzenTemplateForm>
                            </div>
                        </div>
                    </div>
    </div>, new DialogOptions() { CloseDialogOnOverlayClick = true });
    }
}

